<h1><%= @text %></h1>

<p>It is now <%= @time %></p>

<p>
Time to say
<%= link_to "Goodbye", say_goodbye_path %>!
</p>

<p><%= @getal %></p>
<p><%= @tekst %></p>
<p><%= @uurlater %></p>

<ul>
<% for file in @files %>
<li>file name is: <%= file %></li>
<% end %>
</ul>

<%= say_goodnight('Mary-Ellen') %><br />
<%= say_goodnight('Jeroen') %>










